// utils styles
@import './utils/vars';
@import './utils/visually-hidden';

// components styles
@import './components/base';
@import './components/reset';
@import './components/container';
@import './components/header';
@import './components/hero';
@import './components/benefits';
@import './components/activity';
@import './components/teammates';
@import './components/clients';
@import './components/footer';
@import './components/modal';
@import './components/portfolio';
@import './components/menu';