.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
  @media screen and (min-width:768px) {
    flex-basis: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-icon-cl);
  border-radius: 4px;
  transition: border var(--main-anim-cfg);
  width: 100%;
  height: 92px;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-cl);
  }
}

.clients__icon {
  fill: var(--main-icon-cl);
  transition: fill var(--main-anim-cfg);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-cl);
  }
}
