.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 738px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-icon-cl);
  border-radius: 4px;
  transition: border var(--main-anim-cfg);
  width: 210px;
  height: 92px;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-cl);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icon {
  fill: var(--main-icon-cl);
  transition: fill var(--main-anim-cfg);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-cl);
  }
}
