.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
  display: inline-block;
  font-size: 24px;
  line-height: 1.17;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: var(--accent-cl);
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: 88px;
    margin-right: 90px;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav__item {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }

  .site-nav__item:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  position: relative;
  transition: color var(--main-anim-cfg);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.site-nav__link--active {
  color: var(--accent-cl);

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-cl);
    border-radius: 2px;
    position: absolute;
    bottom: -1.5%;
    left: 0;
  }
}

.contacts {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.contacts__item {
  color: var(--secondary-txt-cl);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contacts__link {
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  display: flex;
  font-size: 12px;
  align-items: center;
  position: relative;
  transition: color var(--main-anim-cfg);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;

    &:hover,
    &:focus {
      color: var(--accent-cl);
    }

    &:hover .contacts__icon,
    &:focus .contacts__icon {
      fill: var(--accent-cl);
    }
  }
}

.contacts__icon {
  fill: var(--main-icon-cl);
  margin-right: 10px;
  transition: fill var(--main-anim-cfg);
}
