img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.site-nav__item,
.contacts,
.benefits,
.activity,
.teammates,
.address__list,
.filter-buttons,
.portfolio-list,
.socials,
.clients,
.footer-socials__list,
.mobile-menu,
.menu-contacts,
.mobile-socials {
  list-style: none;
}
