:root {
  /* Text colors */
  --main-txt-cl: #212121;
  --secondary-txt-cl: #757575;
  --accent-cl: #2196f3;
  /* background-colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f5f4fa;
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Icons */
  --main-icon-cl: #afb1b8;
  /* Animation */
  --main-anim-cfg: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
